
body{
    background-color: rgb(194, 221, 244);
    

}
.container{
    height: 100vh;
}
.right-box img{
    width:20px;
    height:20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    display:inline;
    
}
.right-box{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 40%;
    background: white;
    float: right;
    margin: 5% 10% 5% 0;
    box-sizing: border-box;
    position: relative;
}
.ryt{
    margin: 10%;
}
.right-box .images{

    text-align: center;
}

.text-in-middle,.char{
    display: flex;
    color:#6e6e6e;
}
.heading{
    margin:5%;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.text-in-middle{
    text-align: center;
}
#password, #mail, .e-mail, .passwords{
    margin-top: 4px;
    width: 90%;
    height: 30px;
    margin-left: 15px;
}
.char, .remember, .copyright{
    margin-left: 15px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.remember{
    accent-color: blue;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    width: 90%;
    height: 50px;
    background: blue;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 15px;
}
.copyright{
    text-align: center;
    color:#6e6e6e ;
}
.text-in-middle::before, .text-in-middle::after {
    flex: 1;
    content: '';
    padding: 0.5px;
    background-color: #b7b6b6;
    margin: 10px;
}
.left-box{
    display: block;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 40%;
    background: rgb(55, 54, 54);
    /*background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: 100% 100%;*/
    float: left;
    margin: 5% 0 5% 10%;
    box-sizing: border-box;  
    position: relative;
}
.menubar{
    margin: 45px 0 0 45px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 20%;
}
.signn{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
.full{
    color: white;
    text-align: center;
    font-size: 18px;
}
.leftu{
    background-color: rgb(155, 149, 149);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px 30px 0 250px
}
.rytu{
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
}
.leftrytu{
    display: inline; 
}
.imagess{
    display: inline;
    text-align: center;
    
}
.thinkem{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    padding: 10px;
}
.picc{
    border-radius: 50%;
    background-color: cyan;
    padding: 10px;
}
.writee{
    border-radius: 50%;
    background-color: rgb(227, 107, 231);
    padding: 10px;
}
 
